html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote, th, td {
margin: 0;
padding: 0;
}

body {
	background-color: #443825;
}

h2 {
	color: #9B2D13;
	margin-bottom: 10px;
	font: 30px "amrican typewriter", serif;
}

a {
	text-decoration: none;

}

li {
	list-style-type: none;
}

::selection {
	color: #345F4C;
	background-color: #759C8A;
}

::-moz-selection {
	color: #345F4C;
	background-color: #759C8A;
} 

.footer p::selection {
	background-color: transparent;
}

.footer p::-moz-selection {
	background-color: transparent;
}

.header {
	position: relative;
	height: 214px;
	width: 100%;
	background-color: #F2F2F2;
	margin: 0 auto;
}

.nav {
	font: 18px Arial,sans-serif;
	color: #443825;
	height: 20px;
	padding-top: 10px;
	margin-right: 151px;
	text-align: center;
}

.nav a {
	float: right;
	margin-left: 10px;
	padding: 2px;
	color: #443825;
	border: solid 2px transparent;
}

.nav .about_nav {
	border: solid 2px #759C8A;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

.nav a:hover {
	border: solid 2px #759C8A;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

.container {
	background: url('images/main_bg2.jpg') no-repeat 30% 60%;
	position: relative;
	background-color: #A4CFBC;
}

.shell {
	margin: 0 auto;
	width: 960px;
}

.main {
	background: url(images/main_bg.png) top center  no-repeat;
	height: 3114px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.wave {
	width: 100%;
	height: 80px;
	position: absolute;
	overflow: hidden;
	top: -38px;
}

.waveb, .wavef {
	height: 55px;
	position: absolute;
}

@keyframes wave2 {
	from{
		left:-251px;
	}
	to{
		left: 0px;
	}
}

@-webkit-keyframes wave2 {
	from {
		left: -251px;
	}
	to {
		left: 0px;
	}
}

.waveb {
	background: url('images/waveb.png') repeat-x top;
	width: 120%;
	z-index: 2;
	top: 2px;
	left: -251px;
	-webkit-animation-name: wave2;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-name: wave2;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-delay: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes wave1 {
	from{
		left: -245px
	}
	to {
		left: 0;
	}
}

.wavef {
	background: url('images/wavef.png') repeat-x top;
	width: 120%;
	z-index: 10;
	-webkit-animation-name: wave1;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-state: running;
	animation-name: wave1;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-delay: 0;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-state: running;
}

.marine, #locate, #rank, #explore, #entertain {
	position: absolute;
	display: block;
	width: 960px;
}

@-webkit-keyframes marine {
	from {
		top: -133px;
	}
	to {
		top: -128px;
	}
}

.marine {
	-webkit-animation-name: marine;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
	-webkit-animation-state: running;
	z-index: 1;
	height: 164px;
	width: 469px;
	top: -133px;
	background: url(images/submarine.png) no-repeat;
}

.bomb_move {
	height: 40px;
	width: 73px;
	position: absolute;
	top: 50px;
	left: 226px;
	background: url('images/bomb_move.png') no-repeat top center;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0.02turn);
	-ms-transform: rotate(0.02turn);
	-o-transform: rotate(0.02turn);
}

.dscrpt {
	margin: 18px 29px;
}

.left .icon,.right .icon {
	width: 166px;
	height: 166px;
}

.left .icon, .left .dscrpt {
	float: left;
}

.right .icon, .right .dscrpt {
	float: right;
}

#locate {
	top: 224px;

}

.scratch {
	position: relative;
}

.scratch canvas {
	position: absolute;
	top: 1px;
}

#rank {
	top: 725px;
}

#explore {
	top: 1332px;
}

#entertain {
	top: 2202px;
}

#locate .icon {
	background-image: url('images/location.png');
}

#rank .icon {
	background-image: url('images/rank.png');
}

#explore .icon {
	background-image: url('images/explore.png');
}

#entertain .icon {
	background-image: url('images/entertain.png');
}

#entertain .dscrpt a {
	display: inline-block;
	height: 63px;
	width: 63px;
	-webkit-transform-origin: 50% 50%;
}

#entertain .dscrpt a:hover {
	-webkit-transform: rotate(0.02turn);
	-moz-transform: rotate(0.02turn);
	-ms-transform: rotate(0.02turn);
	-o-transform: rotate(0.02turn);
	transform: rotate(0.02turn);
	background-position: 100% 100%;
}

#entertain .github a {
	background-image: url('images/github.png');
}

#entertain .douban a {
	background-image: url('images/douban.png');
}

#entertain .ps a {
	background-image: url('images/ps.png');
}

#entertain .v2ex a {
	background-image: url('images/v2ex.png');
}

#explore li {
	padding-left: 40px;
	float: right;
}

#entertain li {
	padding-right: 40px;
	float: left;
}

.main .dscrpt p {
	color: #595741;
	font: 20px  sans-serif;
}

#locate h2, #explore h2 {
	text-align:right;
}

#locate p {
	width: 296px;
	text-align: justify;
}

#rank p {
	width: 516px;
	text-align: justify;
}

.footer {
	background-color: #443825;
	height: 120px;
	position: relative;
}

.footer .copyright {
	width: 960px;
	height: 62px;
	margin: 0 auto;
	position: relative;
	background-image: url('images/target.png');
	background-repeat: no-repeat;
	background-position: 763px -1px;
}

.copyright p {
	position: absolute;
	right: 0px;
	top: 0px;
	color: #f8f7c1;
	padding-top: 90px;
	font: 18px  sans-serif;
}

@-webkit-keyframes bubbleup {
	from {
		top: 0;
		opacity: 1;
		background-size: 5px 5px;
	}
	to {
		top: -300px;
		opacity: 0;
		background-size: 50px 50px;
	}
}

.bubbleup div{
	position: absolute;
	height: 140px;
	width: 140px;
	top: 0;
	opacity: 1;
	background-repeat: no-repeat;
	background-image: url('images/bubble_bottom.png');
	background-size: 5px 5px;
	-webkit-animation-name: bubbleup;
	-webkit-animation-duration: 2s;
	-webkit-animatin-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;
}

.b1 {
	left: 20px;
}
.b2 {
	left: 45px;
}
.b3 {
	left: 60px;
}

#scrollToTop {
	z-index: 1000;
	position: fixed;
	opacity: 0;
	-webkit-transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
	-o-transition: opacity 1.5s;
	transition: opacity 1.5s;
	height: 102px;
	width: 39px;
	right: 58px;
	top: 300px;
}

#scrollToTop .rocket {
	display: inline-block;
	width: 39px;
	height: 73px;
	cursor: pointer;
	background: url('images/toTop.png') no-repeat;
}

#scrollToTop .bubble1, #scrollToTop .bubble2, #scrollToTop .bubble3 {
	width: 39px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#scrollToTop .bubble1 {
	height: 7px;
	background-image: url('images/bubble1.png');
}

#scrollToTop .bubble2 {
	height: 9px;
	background-image: url('images/bubble2.png');
}

#scrollToTop .bubble3 {
	height: 13px;
	background-image: url('images/bubble3.png');
}

#quickMove {
	width: 114px;
	height: 14px;
	font: 12px/18px Arial,sans-serif;
	background: url('images/holder.png') no-repeat 0 3px;
	position: absolute;
	left: 0;
	top: 125px;
}

#quickMove .fold {
	position: absolute;
	top: 0;
	width: 78px;
	height: 14px;
	margin: 0 21px 0 15px;
	background-color: #443825;
	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

#quickMove .choose {
	width: 68px;
	height: 100px;
	padding-top: 8px;
	position: absolute;
	top: 14px;
	left: 20px;
	text-indent: 10px;
	background: #443825 url('images/banner_bottom.png') no-repeat bottom;
}

#quickMove a {
	color: #f8f7c1;
	text-decoration: none;
}

.cur_p {
	background-color: #2d2519;
}

#quickMove .keep {
	height: 7px;
}

#quickMove .bottom {
	height: 5px;
}

#quickMove a:hover {
	text-decoration: underline;
}